{
  "env": {
    "development": {
      "presets": "next/babel",
      "plugins": [
        "react-intl",
        [
          "inline-dotenv",
          {
            "path": ".env"
          }
        ]
      ]
    },
    "production": {
      "presets": "next/babel",
      "plugins": [
        [
          "react-intl",
          {
            "messagesDir": "lib/i18n/.messages/"
          }
        ],
        [
          "inline-dotenv",
          {
            "path": ".env"
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ],
        "next/babel"
      ],
      "plugins": [
        "react-intl",
        [
          "inline-dotenv",
          {
            "path": ".env"
          }
        ]
      ]
    }
  }
}
