{
  "env": {
    "development": {
      "presets": "next/babel",
      "plugins": ["react-intl"]
    },
    "production": {
      "presets": "next/babel",
      "plugins": [
        [
          "react-intl",
          {
            "messagesDir": "lib/i18n/.messages/"
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ],
        "next/babel"
      ],
      "plugins": ["react-intl"]
    }
  }
}
